html{
   font-size: 12px;
}

*{
   font-family: sans-serif;
}

body{
   background-color: #DADAD3;
}

.container{
   height: calc(100vh - 4rem);
}

#bg-top{
   background-color: #009688;
   height: 10vh;
   padding-top: 2rem;
}

aside{
   width: 30%;
}

#asideTop, #mainTop, #mainBottom, #search{
   background-color: #E9E9E9;
   height: 5rem;
}

img{
   height: 4rem;
   border-radius: 50%;
}

.fa-solid{ 
   color: #B1B1B1;
   padding: 0.5rem;
   font-size: 1.5rem;
   cursor: pointer;
}

#notifiche{
   background-color: #8DD9FB;
   height: 5rem;
}

#notifiche i{
   color: #8DD9FB;
   cursor: pointer;
   padding: 13px 11px;
}

main{
   width: 70%;
}

#mainMiddle{
   height: calc(100% - 10rem);
   background-image: url(../img/mine.jpg);
}

#mainBottom i {
   color: #6D7D90;
   cursor: pointer;
}

.msg{
   min-width: 40%;
   max-width: 80%;
}

.received{
   background-color: white;
   align-self: flex-start;
}

.sent{
   background-color: #D5F9BA;
   align-self: flex-end;
}

.contatto:hover{
   background-color: lightgray;
}

.selezionato{
   background-color: lightgray;
}

.my-flex{
   display: flex;
}