<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="icon" href="img/Logo.png" sizes="16x16 24x24 32x32 48x48 64x64 128x128">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="p-0 m-0">
        <div id="bg-top">
            <div id="app" class="container p-0 d-flex">
                <aside class="bg-white overflow-scroll">
                    <div id="asideTop" class="d-flex justify-content-between align-items-center border-end p-1">
                        <div id="user">
                            <img src="img/avatar_2.jpg" alt="My image">
                            <span class="ps-1">Andrea</span>
                        </div>
                        <div id="iconAside" class="d-flex align-items-center m-2">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div id="notifiche" class="d-flex align-items-center px-2">
                        <i class="fa-solid fa-bell-slash bg-white rounded-circle m-2"></i>
                        <div>
                            <h6>Ricevi notifiche di nuovi messaggi</h6>
                            <h6 class="text-decoration-underline text-secondary">Attiva notifiche desktop</h6>
                        </div>
                    </div>
                    <!-- INSERISCI BARRA DI RICERCA -->
                    <div id="search" class="input-group d-flex p-2" role="search">
                        <span class="input-group-text border-end-0"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control border-start-0" placeholder="Cerca o inizia una nuova chat" v-model="ricerca" @keyup="funzioneDiRicerca">
                    </div>
                    <!-- INIZIO LISTA CONTATTI -->
                    <div class="py-1 px-3 d-flex contatto border-bottom" v-for="(contact, index) in contacts" v-show="contact.visible" @click="cambiaChat(index)" :class="(index == contattoInChat)?'selezionato':''">
                        <img class="vertical-align-bottom" :src="contact.avatar" :alt="'Immagine ' + contact.name">
                        <div class="p-2 w-100">
                            <div class="d-flex justify-content-between">
                                <h5 class="fs-5 display-inline-block">{{contact.name}}</h5>
                                <h6 class="text-secondary display-inline-block">{{contact.messages[contact.messages.length - 1].date}}</h6> <!-- contact.messages[contact.messages.length - 1].date -->
                            </div>
                            <h6 class="text-secondary">{{contact.messages[contact.messages.length - 1].message}}</h6>
                        </div>
                    </div>
                </aside>
                <main>
                    <!-- BARRA SOPRA AL MAIN -->
                    <div id="mainTop" class="d-flex justify-content-between align-items-center border-start">
                        <div class="d-flex m-2">
                            <img :src="contacts[contattoInChat].avatar" alt="'Immagine ' + contact.name">
                            <div class="p-2">
                                <h5>{{contacts[contattoInChat].name}}</h5>
                                <!-- <h6 class="text-secondary">Ultimo accesso {{contacts[contattoInChat].messages[2].date}}</h6>  dinamicizza il [2] -->
                            </div>
                        </div>
                        <div id="iconMain" class="d-flex align-items-center m-2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- PARTE CENTRALE -->
                    <div id="mainMiddle" class="p-5 overflow-scroll">
                        <div class="d-flex flex-column" v-for="(contact, index) in contacts[contattoInChat].messages">
                            <div class="p-2 m-2 rounded-3 d-flex justify-content-between msg" :class="contact.status">{{contact.message}}
                                <span class="fs-6 align-self-end text-secondary">{{oraCorta}}</span>
                            </div>
                        </div>
                    </div>
                    <div id="mainBottom" class="d-flex justify-content-between align-items-center">
                        <i class="fa-regular fa-face-smile p-5 fs-3"></i>
                        <input v-model="nuovoMessaggio" @keyup.enter="inviaMessaggio" type="text" class="rounded-2 border-0 w-100 h-50" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone p-5 fs-3"></i>
                    </div>
                </main>
            </div>
        </div>
        <script src=" https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js "></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
